<div class="alert alert-warning alert-dismissible fade show " role="alert">
  <%= notice %>
</div>


<p>
  <strong>Title:</strong>
  <%= @shopping_list.title %>
</p>

<p>
  <strong>was bought:</strong>
  <% if @shopping_list.was_bought %>
    <i class="fas fa-cart-arrow-down"></i>
  <% end %>
</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
  </tr>
  <strong>Products:</strong>

  <% @shopping_list.products.each do |product| %>
    <tr>
      <th><%= product.name %></th>
      <th><%= product.quantity %></th>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', shopping_lists_path %>
